@keyframes preloaderAnimation {
  0%{
    bottom: -20%;
    transform: rotate(0);
  }
  100%{
    bottom: 120%;
    transform: rotate(720deg);
  }
}

@keyframes fade {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }

@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}