.index-section__bg-clouds{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -85px;
  height: 50vh;
  background-image: url("../img/clouds_01-3.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  z-index: 5;
}


