@import "../base/variables";

.btn{
  position: relative;
  display: inline-block;
  padding: 15px 28px;

  font-family: 'Myriad Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;

  border: none;
  border-radius: 25px;
  box-shadow: none;

  overflow: hidden;
  outline: none;
  cursor: pointer;

  &:before, &:after{
    content: '';
    position: absolute;
    top: -25%;
    left: -200%;

    height: 150%;
    width: 150%;

    background-color: rgba(0, 0, 0, 0.1);
    transform: skew(30deg);
    transition: left 0.75s ease-in-out;
  }

  &:before{
    transition-delay: 0.25s;
  }

  &:after{
    transition-delay: 0s;
  }

 &:hover:before {
    left: -25%;
    transition-delay: 0s;
  }
  &:hover:after {
    left: -25%;
    transition-delay: 0.25s;
  }

}



.btn.btn-submit{
  align-self: flex-start;
  padding: 0;

  border-radius: 15px;
  background-color: #1ab7a3;
  box-shadow: 0 2px #188375;
  cursor: pointer;

  input{
    padding: 7px 28px;
    padding-top: 11px;
    border: none;
    background-color: transparent;

    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;

    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
 /* &:hover{
    background-color: #169e8d;
    box-shadow: 0 2px #13685d;
  }*/
}


.btn.btn-next, .btn.btn-prev{
  position: absolute;
  font-weight: normal;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  &:before{
    position: absolute;
    font-size: 30px;
    top: 50%;
    transform: translateY(-51%);
  }
}

.btn.btn-next{
  padding-right: 35px;
  right: -200px;

  &:before{
    right: 15px;
  }
}


.btn.btn-prev{
  padding-left: 35px;
  left: -200px;

  &:before{
    left: 15px;
  }
}



.btn.btn-blue{
  background-color: #1ab7a3;
  color: #ffffff;
  box-shadow: 0 3px #188375;

  &:hover{
    background-color: #169e8d;
    box-shadow: 0 2px #13685d;
  }
}

.btn-type2{
  padding-top: 17px;
  padding-bottom: 13px;
  min-width: 190px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.btn-type3{
  padding-top: 17px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

@media (max-width: 576px){
  .btn{
    padding: 10px 15px;
  }
}


