@import "../base/variables";

.btn{
  display: inline-block;
  padding: 7px 28px;

  font-family: 'Myriad Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border-radius: 15px;
  box-shadow: 0 2px #188375;
  cursor: pointer;
  transition: all 0.4s;
}

.btn.btn-submit{
  padding: 7px 28px;
  border: none;
  border-radius: 15px;
  background-color: #1ab7a3;
  color: #ffffff;

  &:hover{
    background-color: #169e8d;
    border-color: #1ab7a3;
  }
}

/*
input[type='submit'].btn{
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
*/



/*.btn--blue{
  color: #ffffff;
 !* background-color: $font-color-blue;*!
  width: 100%;

  &:hover{
    background-color: #549BFB;
  }

  &:active, &:visited{
    background-color: #397AD0;
  }
}*/
/*
.btn--grey{
  background-color: $bg-color-border;
  color: $font-color-blue;

  &:visited, &:active{
    color: $font-color-blue;
    background-color: $bg-color-border;
  }

  &:hover{
    color: #ffffff;
    background-color: #A5A5A5;
  }
}
*/
