.overlay{
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
}

.overlay.active--fadeout{
  display: block;
  animation: fadeOut 0.9s;
}

.overlay.active{
  display: block;
  animation: fade 0.5s;
}

.overlay--main-header{
  z-index: 80;
}


