.slogan__wrp{
  width: 30%;
  text-align: center;

}

.slogan__title{
 /* font-family: Besom, sans-serif;
  font-size: 36px;*/
}

.slogan__img{
  height: 60px;
  margin-bottom: 20px;
}

.slogan__text{
  margin: 0 auto;

  font-family: 'AvantGardeGothicC', sans-serif;
  font-size: 22px;
  line-height: 29px;
  text-align: center;

  p{
    margin: 0;
  }

  a{
    font-weight: bold;
  }

  a:last-child{
    text-decoration: underline;
  }

  a:hover{
    color: $bg-color-link--hover;
  }
}

@media (max-width: 992px){
  .slogan__text{
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 768px){
  .slogan__text{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {


}

@media (max-width: 320px){

}

