ul{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.section-title{
  display: flex;
  justify-content: space-around;
  font-family: 'AvantGardeGothicCTT', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-title--bg{
  padding-left: 5px;
  padding-right: 5px;
  background-color: $font-bg-color;

}

.section-title--small{
  padding-left: 5px;
  font-size: 24px;
}

.slogan{
  /*font-family: Besom, sans-serif;*/
}

.text-block{
  font-size: 18px;
  line-height: 24px;
}

.text-block__link{
  font-weight: bold;
  text-decoration: underline;

  &:hover{
    color: $bg-color-link--hover
  }
}








