












/*//CenturyGothic
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic-Bold.woff') format('woff'),
  url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasUnica';
  src:
          url('../fonts/NeueHaasUnicaW1G-Medium.woff2') format('woff2'),
          url('../fonts/NeueHaasUnicaW1G-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasUnica';
  src:
          url('../fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
          url('../fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Highway Sans Pro';
  src:
          url('../fonts/PFHighwaySansPro-Medium.woff2') format('woff2'),
          url('../fonts/PFHighwaySansPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'gq';
  src: url('../fonts/gq.eot?1058005');
  src: url('../fonts/gq.eot?1058005#iefix') format('embedded-opentype'),
  url('../fonts/gq.woff2?1058005') format('woff2'),
  url('../fonts/gq.woff?1058005') format('woff'),
  url('../fonts/gq.ttf?1058005') format('truetype'),
  url('../fonts/gq.svg?1058005#gq') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-cancel:before { content: '\e800'; } !* '' *!
.icon-btn_with_3dots:before { content: '\e80c'; } !* '' *!
.icon-btn_play:before { content: '\e80d'; } !* '' *!

.icon:before{
  font-family: 'gq';
  font-size: 15px;
}*/


/*


.icon-rocket:before{
  font-size: 18px;
}

.icon-search:before{

}

.icon-speedometer:before{

}

.icon-car:before{
  font-size: 13px;
}

.icon-steering_wheel:before{
  font-size: 17px;
}

.icon-mark_map:before{

}

.icon-palm:before{
  font-size: 18px;
}

.icon-path_right:before,
.icon-path_left:before{
  !*font-size: 10px;*!
}

.icon-eye:before{
  font-size: 10px;
}



*/
