@import "../base/variables";

.main-footer{
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: $bg-color-footer;
}

.main-footer__wrp{
  display: flex;
}

.main-footer__contacts,
.main-footer__social-policy,
.main-footer__form{
  flex: 0 1 33%;
}

.main-footer__logo{
  width: 151px;
  height: 135px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.main-footer__contact{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
  transition: color 0.4s;

  &:last-child{
    margin-bottom: 0;
  }

  &:hover a{
    color: $font-color--hover;
  }

  .contact__tile{
    font-weight: bold;
  }
}

.main-footer__social-policy{
  text-align: center;
}

.main-footer__social{
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 50px;

  .social-link__bock{
    height: 26px;
    display: inline-block;
    margin-bottom: 8px;

    &:last-child{
      margin-bottom: 0;
    }

    a {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
    }

    .social-link__text{
      display: inline-block;
      vertical-align: top;
      padding-left: 6px;

      font-family: 'AvantGardeGothicCTT', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 26px;

      transition: all 0.4s;
    }

    .social-link{
      transition: all 0.4s;
    }

    &:hover .social-link__text,
    &:hover .social-link{
      color: $bg-color-link--hover;
      border-color: $bg-color-link--hover;
    }
  }
}

.main-footer__policy{
  font-size: 12px;
  line-height: 14px;

  p{
    margin-bottom: 30px;
  }

  p:last-child{
    margin-bottom: 0;
  }

  .policy__wrp{
    font-family: "Neue Haas Unica", sans-serif;

    a{
      text-decoration: underline;
    }

    a:hover{
      color: $bg-color-link--hover;
    }
  }
}


.main-footer__form-title{
  margin-bottom: 10px;

  font-family: 'AvantGardeGothicCTT', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.main-footer__form-text{
  margin-bottom: 15px;

  font-size: 14px;
  text-align: center;
}

// form
.main-footer__form{
  padding-left: 50px;
  padding-right: 50px;


}


.form{

  input, textarea{
    padding: 6px 15px;
    border: 1px solid #dedede;
    border-radius: 4px;

    font-size: 12px;
    line-height: 18px;

    background-color: #fff;
    outline: none;
  }

  input::placeholder,
  textarea::placeholder{
    color: #dedede;
  }

  textarea{
    resize: none;
    width: 100%;
  }

}

.form__input--single{
  margin-bottom: 10px;

  input, label{
    width: 100%;
  }
}

.form__input--double{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  label{
    width: calc(1/2*100% - (1 - 1/2)*10px);
    line-height: 18px;
  }

  label:first-child{
    margin-right: 10px;
  }

  input{
    width: 100%;
  }
}

.form__select--single{
  margin-bottom: 10px;
}

label.input-file{
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #dedede;
  border-radius: 4px;

  background-color: #fff;

  text-align: center;
  font-size: 12px;
  line-height: 19px;

  cursor: pointer;

  input{
    display: none;
  }
}

.form__checkbox--consent{
  display: flex;
  align-items: center;
}

.form__checkbox--consent .switch-checkbox__text{
  font-size: 10px;
  line-height: 12px;
  padding-left: 10px;

}


.switch-checkbox__wrp{
  label{
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
  }

  input{
    display: none;
  }

  .switch-checkbox{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color: #BDBDBD;
    transition: .4s;

    &:before{
      position: absolute;
      content: "";

      width: 15px;
      height: 15px;
      left: calc(50% - 15px/2 - 9.5px);
      top: calc(50% - 15px/2);

      border-radius: 50%;
      background-color: white;
      transition: .4s;
      box-shadow: 0 3px 1px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.15);
    }
  }

  input:checked + .switch-checkbox {
    background-color: #219653;
  }

  input:checked + .switch-checkbox:before{
    left: calc(50% - 15px/2 + 9.5px);
    top: calc(50% - 15px/2);
  }
}