@import "../base/variables";

.main-footer{
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: $bg-color-footer;
}

.main-footer__wrp{
  display: flex;
}

.main-footer__wrp2{
  display: flex;
  flex: 0 1 66%;
}

.main-footer__contacts,
.main-footer__social-policy{
  flex: 0 1 50%;
}
.main-footer__form{
  flex: 0 1 33%;
}

.main-footer__logo{
  width: 151px;
  height: 135px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.main-footer__contact{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
  transition: color 0.4s;

  &:last-child{
    margin-bottom: 0;
  }

  &:hover a{
    color: $font-color--hover;
  }

  .contact__tile{
    font-weight: 600;
  }
}

.main-footer__social-policy{
  text-align: center;
}

.main-footer__social{
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 50px;

  .social-link__bock{
    height: 26px;
    display: inline-block;
    margin-bottom: 8px;
    white-space: nowrap;

    &:last-child{
      margin-bottom: 0;
    }

    a {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 26px;
    }

    .social-link__text{
      display: inline-block;
      vertical-align: top;
      padding-left: 6px;

      font-family: 'AvantGardeGothicCTT', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 26px;

      transition: all 0.4s;
    }

    .social-link{
      transition: all 0.4s;
    }

    &:hover .social-link__text,
    &:hover .social-link{
      color: $bg-color-link--hover;
      border-color: $bg-color-link--hover;
    }
  }
}



.main-footer__policy{
  font-size: 12px;
  line-height: 14px;

  p{
    margin-bottom: 30px;
  }

  p:last-child{
    margin-bottom: 0;
  }

  .policy__wrp{
    font-family: "Neue Haas Unica", sans-serif;

    a{
      text-decoration: underline;
    }

    a:hover{
      color: $bg-color-link--hover;
    }
  }
}

.main-footer__policy--bottom-block{
  padding-top: 50px;
  display: none;
  text-align: center;

  br{
    display: none;
  }

  p{
    margin-bottom: 10px;
  }
}


.main-footer__form-title{
  margin-bottom: 10px;

  font-family: 'AvantGardeGothicCTT', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.main-footer__form-text{
  margin-bottom: 15px;

  font-size: 14px;
  text-align: center;
}

// form
.main-footer__form{
  flex: none;
  width: 300px;
  min-width: 300px;
  margin: 0 auto;
}

.form{

  input, textarea{
    padding: 6px 15px;
    border: 1px solid #dedede;
    border-radius: 4px;

    font-size: 12px;
    line-height: 18px;

    background-color: #fff;
    outline: none;
  }

  input::placeholder,
  textarea::placeholder{
    color: #dedede;
  }

  textarea{
    resize: none;
    width: 100%;
  }

}

.form__input--single{
  margin-bottom: 10px;

  input, label{
    width: 100%;
  }
}

.form__input--double{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  label{
    width: calc(1/2*100% - (1 - 1/2)*10px);
    line-height: 18px;
  }

  label:first-child{
    margin-right: 10px;
  }

  input{
    width: 100%;
  }
}

.form__select--single{
  margin-bottom: 10px;
}

label.input-file{
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #dedede;
  border-radius: 4px;

  background-color: #fff;

  text-align: center;
  font-size: 12px;
  line-height: 19px;

  cursor: pointer;

  input{
    display: none;
  }
}

.form__checkbox--consent{
  display: flex;
  align-items: center;
}

.switch-checkbox__wrp{
  width: 100%;

  input{
    display: none;
  }

  input:checked + .switch-checkbox:before {
    background-color: #219653;
  }

  input:checked + .switch-checkbox:after{
    left: calc(45px - 18px - 2px);
  }
}

.switch-checkbox{
  position: relative;
  display: inline-block;
  min-height: 22px;
  padding-left: 55px;

  font-size: 10px;
  line-height: 12px;
  cursor: pointer;

  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 45px;
    height: 22px;

    border-radius: 11px;
    background-color: #BDBDBD;
    transition: background-color 0.4s;
  }

  &:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 2px;

    border-radius: 50%;
    background-color: white;
    transition: left 0.4s;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.15);
  }
}