.icon-s-heart_black:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
}
.icon-s-heart_blue:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
}
.icon-s-heart_green:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -32px -17px;
  width: 15px;
  height: 15px;
}
.icon-s-heart_grey:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 16px;
  height: 17px;
}
.icon-s-heart_lilac:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px -17px;
  width: 16px;
  height: 16px;
}
.icon-s-heart_orange:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -16px -17px;
  width: 16px;
  height: 16px;
}
.icon-s-heart_red:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -15px -33px;
  width: 14px;
  height: 14px;
}
.icon-s-heart_yellow:before {
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px -33px;
  width: 15px;
  height: 15px;
}
