<div class="container main-footer__wrp">
    <div class="main-footer__contacts">
        <div class="main-footer__logo bock_img">
            <a href="index.html"><img src="img/logo_footer.png" alt="logo"></a>
        </div>

        <div class="main-footer__contacts-wrp">

            <div class="main-footer__contact">
                <span class="contact__tile">Линия заботы:</span>
                <a href="tel:8003330107">800 333 01 07</a>
            </div>

            <div class="main-footer__contact">
                <span class="contact__tile">Email:</span>
                <a href="mailto:content@nord-tex.ru">content@nord-tex.ru</a>
            </div>

            <div class="main-footer__contact">
                <div class="contact__tile">Адрес:</div>
                <div> 143904, Россия, Балашиха,</div>
                <div> Западная коммунальная зона,</div>
                <div>  Шоссе Энтузиастов,</div>
                <div> владение 4</div>
            </div>
        </div>


    </div>

    <div class="main-footer__social-policy">

       <div class="main-footer__social">

           <div class="social-link__bock">
               <a href="https://www.instagram.com/my_oblachko">
                   <span class="social-link icon icon-instagram"></span>
                   <span class="social-link__text">My_Oblachko</span>
               </a>
           </div>


           <div class="social-link__bock">
               <a href="https://www.facebook.com/myoblachko">
                   <span class="social-link icon icon-facebook"></span>
                   <span class="social-link__text">My_Oblachko</span>
               </a>
           </div>


           <div class="social-link__bock">
               <a href="https://vk.com/my_oblachko">
                   <span class="social-link icon icon-vkontakte"></span>
                   <span class="social-link__text">My_Oblachko</span>
               </a>
           </div>


           <div class="social-link__bock">
               <a href="https://ok.ru/group/57797164597347">
                   <span class="social-link icon icon-odnoklassniki"></span>
                   <span class="social-link__text">My_Oblachko</span>
               </a>
           </div>


           <div class="social-link__bock">
               <a href="">
                   <span class="social-link icon icon-hashtag"></span>
                   <span class="social-link__text">My_Oblachko</span>
               </a>
           </div>

       </div>

        <div class="main-footer__policy">
            <p>Все права принадлежак компании “Нордтекс”,<br>
                производителю и владельцу марки “Облачко”</p>
            <p>2020, ООО “Нордтекс” </p>
            <p><a href="">Условия использования</a></p>
        </div>


    </div>

    <div class="main-footer__form">

        <div class="main-footer__form-title">Остались вопросы?</div>
        <div class="main-footer__form-text">Напишите вопрос и мы Вам ответим</div>

        <form class="form" action="" method="post" name="send-question">

            <div class="form__input--single">
                <label><input type="text" name="name" placeholder="Ваше имя" required></label>
            </div>

            <div class="form__input--double">
                <label><input type="tel"  name="tel" placeholder="Телефон"></label>
                <label><input type="email" name="email" placeholder="Email" required></label>
            </div>

            <div class="form__select--single">
                <label for="select-question"></label>
                <select name="select-question" id="select-question">
                    <option value="q1" selected>Выберите тему обращения</option>
                    <option value="q2">Продукция</option>
                    <option value="q3">Сотрудничество</option>
                    <option value="q4">Отзыв</option>
                    <option value="q5">Где купить</option>
                    <option value="q6">Прочее</option>
                </select>
            </div>



            <div class="form__input--single">
                <label>
                    <textarea name="" cols="" rows="4" placeholder="Текст" required></textarea>
                </label>
            </div>

            <div class="form__input--double">
                <label class="input-file" for="select-question__file">Прикрепить файл
                    <input type="file" name="file" placeholder="Прикрепить файл" id="select-question__file">
                </label>



                <label>
                    <input class="btn btn-submit" type="submit" name="send-form" value="отправить">
                </label>



            </div>


            <div class="form__checkbox--consent">

                <div class="switch-checkbox__wrp">
                    <label>
                        <input type="checkbox" name="consent" value="yes" required>
                        <span class="switch-checkbox"></span>
                    </label>
                </div>
                <span class="switch-checkbox__text">Я даю свое согласие на обработку персональных данных</span>
            </div>



        </form>









    </div>
</div>
