<div data-main-header--parent>
    <div class="main-header__hover" data-main-header-hover>
        <div class="container">
            <div class="main-header__wrp" >

                <div class="main-header__logo block_img">
                   <a href="index.html"><img src="img/logo.png" alt="logo"></a>
                </div>

                <div class="main-header__wrp2">
                    <div class="main-header__social-icons-list">
                        <a class="social-link icon icon-instagram" target="_blank" href="https://www.instagram.com/my_oblachko">Instagram</a>
                        <a class="social-link icon icon-facebook" target="_blank" href="https://www.facebook.com/myoblachko">Facebook</a>
                        <a class="social-link icon icon-vkontakte" target="_blank" href="https://vk.com/my_oblachko">ВКонтакте</a>
                        <a class="social-link icon icon-odnoklassniki" target="_blank" href="https://ok.ru/group/57797164597347">Одноклассники</a>
                    </div>

                    <div class="main-header__main-menu-btn" data-main-menu-btn-show>
                        <div>м</div>
                        <div class="main-menu-btn__lines">
                            <span class="main-menu-btn__line"></span>
                        </div>
                        <div>ню</div>
                    </div>
                </div>
            </div>

            <div class="main-menu" data-main-menu>
                <span class="icon icon-cancel" data-main-menu-btn--close>Закрыть</span>
                <ul class="main-menu__list">
                    <li><a href="">Ассортимент</a></li>
                    <li><a href="">Мамы спрашивают</a></li>
                    <li><a href="">Что говорят мамы о нас</a></li>
                    <li><a href="">О нас в деталях</a></li>
                    <li><a href="">Где купить</a></li>
                </ul>

                <div class="main-menu__contacts">
                    <a href="tel:88005559388">8 (800) 555 93 88</a>
                    <a href="tel:84957759775">8 (495) 775-9-775</a>
                    <a href="mailto:oblachko@nord-tex.ru">oblachko@nord-tex.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>