<div class="modal-window modal-window--terms-of-use" data-modal-target="terms-of-use">

    <div class="modal-window__title-wrp">
        <div class="modal-window__tittle">Соглашение на обработку персональных данных</div>
        <div class="modal-window__btn-close icon icon-cancel" data-modal-close>Закрыть</div>
    </div>
    <div class="modal-window__content-wrp">
        <div class="modal-window__content scrollbar-enabled">
            <p>Текст соглашения на обработку данных:</p>
            <p>1. Выражаю ООО «Нордтекс» (далее – оператор) (ИНН 5001069981, адрес: 143912, Московская область, город Балашиха,
                Западная коммунальная зона, шоссе Энтузиастов, владение 4) свое согласие на автоматизированную и неавтоматизированную
                обработку моих персональных данных, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение),
                использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение следующих моих персональных данных,
                переданных мною лично оператору, в т.ч. с использованием интернет-сервисов https://www.nord-tex.shop:
            </p>
            <p>1.1. дата и место рождения
                1.2.номер паспорта, сведения об органе его выдавшим и дате выдаче
                1.3. адрес места жительства (по паспорту, фактический)
                1.4. дата регистрации по месту жительства
                1.5. пол
                1.6. возраст
                1.7. номер телефона (домашний/ сотовый)
                1.8. условия заказа в случае его оформления
                1.9. источник захода на сайт https://www.nord-tex.shop (далее – сайт) и информация поискового или рекламного запроса
                1.10. данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризуемые пользовательское устройство, IP-адрес)
                1.11. информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ в сеть Интернет),
                технические характеристики оборудования и программного обеспечения, используемых пользователем
                1.12. дата и время доступа
                1.13. пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео
                1.14. данные, характеризующие аудиторные сегменты
                1.15. параметры сессии
            </p>
            <p>1.16. данные о времени посещения</p>
            <p> 1.17. идентификатор пользователя, хранимый в cookie</p>
            <p>2. оператор может обрабатывать мои персональные данные сроком до 10 лет в следующих целях:</p>


            <p>2.1.  идентификации пользователей (посетителей) сайта оператора;</p>
            <p>2.2.  связи со мной, в том числе направление уведомлений, запросов и информации, касающихся использования сайта,
                исполнения соглашений и договоров, а также обработки запросов и заявок от меня;
            </p>
            <p>2.3.  обезличивания персональных данных для получения обезличенных статистических данных, которые передаются
                третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению оператора.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur dolor dolores ea esse explicabo
                facere laborum maiores mollitia nostrum officia perspiciatis, placeat quasi reprehenderit sed soluta unde vel voluptate!
                Alias commodi, cumque dolore eaque eum ex exercitationem iste minus modi necessitatibus perferendis praesentium quaerat quidem repellendus,
                reprehenderit repudiandae sapiente sequi sunt suscipit tempore? Nulla, saepe unde. Aliquam, fugiat, unde.
                Aliquam blanditiis dolorem dolorum, eos explicabo facilis harum illo, illum iure, laboriosam pariatur sunt! Ab consectetur deleniti,
                excepturi exercitationem explicabo fugiat ipsam maiores odio provident qui quis soluta totam veniam?Accusantium ad aliquam assumenda
                at beatae consectetur delectus eos expedita minima neque nostrum nulla omnis optio quas tempora ullam vero vitae
                voluptas voluptatem, voluptatum? Dicta dolores eos odio quos vitae? Accusantium alias cum eligendi error est expedita,
                explicabo iste maiores maxime modi neque nihil nobis nostrum obcaecati officiis porro quae quasi
                recusandae reiciendis sequi sint soluta unde vel velit voluptate?Accusantium, alias dolor ea, eaque eos incidunt laudantium
                neque pariatur, praesentium quam quia quod sequi voluptatem. Ab dicta iure, iusto laborum quam sed unde? Accusantium libero
                omnis recusandae. Cupiditate, rem. Accusantium alias assumenda aut consequuntur error esse itaque minus nobis saepe soluta.
                Accusamus excepturi minus neque officiis similique. Cum debitis dolorem et ipsam maiores minus odio omnis placeat quae sed?
                Beatae blanditiis doloribus ducimus expedita facilis fugit iste maiores maxime nisi, non quae quidem quod ratione recusandae
                rem sed sit temporibus tenetur ullam vero. Distinctio dolores esse magni necessitatibus tenetur. Ab dolorum est ipsam labore,
                laboriosam nulla porro quos recusandae. Aliquam fugit omnis praesentium quibusdam quidem repellendus sapiente sit voluptas?
                Amet culpa dolore eaque laboriosam mollitia nesciunt non, provident sapiente. Deserunt eligendi pariatur quis sequi vel.
                Animi, minus, tenetur? Cum delectus dignissimos eaque, earum est eveniet fugit itaque molestiae nemo nesciunt nisi
                numquam perferendis quis ratione recusandae rerum tempore totam.
            </p>
        </div>
    </div>







</div>

<div class="modal-window modal-window--give--feedback" data-modal-target="give-feedback">

    <div class="modal-window__title-wrp">
        <div class="modal-window__tittle">Оставить отзыв</div>
        <div class="modal-window__btn-close icon icon-cancel" data-modal-close>Закрыть</div>
    </div>
    <div class="modal-window__content-wrp">
        <form class="form form--modal" action="" method="post" name="send-feedback">

            <div class="form__input--single">
                <label><input type="text" name="name" placeholder="Введите имя" required></label>
            </div>

            <div class="form__input--double">
                <label class="input-smaller"><input type="email" name="email" placeholder="Электронная почта" required></label>
                <label class="input-bigger"><input type="text"  name="link" placeholder="Ссылка на Ваш профиль ВК или FB"></label>
            </div>

            <div class="form__input--single">
                <label>
                    <textarea name="text" cols="" rows="4" placeholder="Введите текст отзыва" required></textarea>
                </label>
            </div>

            <div class="form__input--double">
                <label class="input-file" for="select-question__file">Прикрепить файл
                    <input type="file" name="file" placeholder="Прикрепить файл" id="select-question__file">
                </label>
                <label class="btn btn-submit">
                    <input type="submit" name="send-form" value="отправить">
                </label>
            </div>

            <div class="form__checkbox--consent">
                <div class="switch-checkbox__wrp">
                    <input id="switch-checkbox-2" type="checkbox" name="consent" value="yes" required>
                    <label for="switch-checkbox-2" class="switch-checkbox">
                        Я даю свое согласие на обработку персональных данных
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>