<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Облачко для малыша">
    <meta name="keywords" content="Облачко для малыша">
    <title>Облачко для малыша</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple_icon_57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple_icon_60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple_icon_72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple_icon_76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple_icon_114x114.png">
    <link rel="icon" sizes="16x16" href="img/favicon/favicon_16x16.png">
    <link rel="icon" sizes="32x32" href="img/favicon/favicon_32x32.png">
    <link rel="icon" sizes="96x96" href="img/favicon/favicon_96x96.png">
   <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@600&display=swap" rel="stylesheet">-->
   <!--
    <link rel="stylesheet" href="libs/animate.css">

    <link rel="stylesheet" href="libs/daterangepicker.css">
    <link rel="stylesheet" href="libs/fullpage.css">
    -->

    <link rel="stylesheet" href="libs/slick.css">
    <link rel="stylesheet" href="libs/slick-theme.css">
    <link rel="stylesheet" href="libs/jquery.fancybox.min.css">
    <link rel="stylesheet" href="libs/nice-select.css">
    <link rel="stylesheet" href="css/main.min.css">

    <script>
       window.addEventListener('load', function () {
            var preloader = document.querySelector('#preloader');
            var heartBig = preloader.querySelector('.preloader__heart--big');
           setTimeout(function () {
               heartBig.classList.add('active');
           }, 300);

           setTimeout(function () {
               heartBig.classList.add('opacity');
           }, 1700);

            setTimeout(function () {
                document.body.removeChild(preloader);
            }, 2200);
        });
    </script>
</head>
<body>