<div class="preloader" id="preloader">
    <div class="preloader__heart-wrap">
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
     </div>
    
    <div class="preloader__heart--big"></div>
</div>