<!--
<div class="preloader" id="preloader">
    <div class="preloader__logo block_img">
       <img src="img/preloader/Logo.svg" alt="">
    </div>

    <div class="preloader__preloader__heart preloader__preloader__heart&#45;&#45;left block_img">
     <img src="img/preloader/Logo_S-02.svg" alt="">
    </div>

    <div class="preloader__preloader__heart preloader__preloader__heart&#45;&#45;right block_img">
        <img src="img/preloader/Logo_S_1.svg" alt="">
    </div>
</div>-->

<div class="preloader" id="preloader">
    <div class="preloader__heart-wrap">
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
            <div class="preloader__heart"></div>
     </div>
    
    <div class="preloader__heart--big"></div>
</div>