@import "../base/variables";

.btn{
 /* display: inline-block;
  border-radius: 9px;
  padding: 16px 23px;

  font-family: 'PF Highway Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  transition: all 0.4s;*/
}

/*
input[type='submit'].btn{
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
*/


/*
.btn--blue{
  color: #ffffff;
  background-color: $font-color-blue;
  width: 100%;

  &:hover{
    background-color: #549BFB;
  }

  &:active, &:visited{
    background-color: #397AD0;
  }
}

.btn--grey{
  background-color: $bg-color-border;
  color: $font-color-blue;

  &:visited, &:active{
    color: $font-color-blue;
    background-color: $bg-color-border;
  }

  &:hover{
    color: #ffffff;
    background-color: #A5A5A5;
  }
}
*/
