*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
 /* outline: 1px solid red;*/
}

.section-line{
  /*height: 1px;
  background: $bg-color-line;*/
}