@import "../base/variables";

a{
 /* color: $font-color-black;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s;*/

  &:visited{
    /*color: $font-color-black;*/
  }

  &:active{
   /* color: $font-color-black;*/
  }

  &:hover{
    /*text-decoration: none;
    color: $font-color-black;*/
  }
}

