@media (max-width: 1650px){

}

@media (max-width: 1649.99px){
  .index-section-baby--slide3{
    .slider-btn--full-slider{
      top: auto;
      bottom: 160px;
      transform: translateY(0);

      &.slider-btn--prev{
        left: 50px;
      }

      &.slider-btn--next{
        right: 50px;
      }
    }
  }
}



@media (max-width: 992px){
  .index-section-baby__wrp{
    flex-direction: column;
  }

  .index-section-baby__content{
    width: 100%;
    padding-top: 65px;
    padding-left: 0;
    margin-bottom: 2vh;
    order: 1;


    &>div{
      padding: 15px;
      height: 100%;
      overflow: hidden;
    }
  }

  .index-section-baby__baby-wrp{
    max-height: 60vh;
    order: 2;
  }

}

@media (max-width: 768px){
  .index-section-baby__pillow-img{
    max-height: 230px;
    left: 45%;
  }

  .index-section-baby__blanket-img{
    width: 85%;
  }





}

@media (max-width: 576px) {
  .index-section-baby__pillow-img{
    width: 70%;
    max-height: 210px;
  }

  .index-section-baby__blanket-img{
    width: 75%;
  }

  .index-section-baby__title{
    font-size: 18px;
    line-height: 22px;
  }

  .index-section-baby__text{
    font-size: 14px;
    line-height: 16px;
  }


}


@media (max-width: 500px) {
  .index-section-baby__baby-wrp{
    width: 100%;
  }

  .index-section-baby__slider{
    .slider-btn--full-slider.slider-btn--prev{
      left: 10px;
    }

    .slider-btn--full-slider.slider-btn--next{
      right: 10px;
    }
  }

}

@media (max-width: 400px) {
  .index-section-baby__pillow-img{
    width: 75%;
    max-height: 175px;
    left: 42%;
  }

  .index-section-baby__blanket-img{
    left: 55%;
  }
}

@media (max-width: 320px){
  .index-section-baby__pillow-img{
    width: 80%;
    max-height: 155px;
  }

  .index-section-baby__blanket-img{
    width: 85%;
  }
}

