@media (max-width: 1024px){
  .specifications__tab-goods-items,
  .specifications__tab-goods-items.active{
    height: auto;
  }
}

@media (max-width: 992px){
  .specifications__nav{
    flex-wrap: wrap;
    background-color: transparent;
  }

  .specifications__nav-tab{
    flex-grow: 0;
    width: 48%;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;

    border: 3px solid #dcdcdc;
    background-color: #dcdcdc
  }

  .specifications__goods-item {
    width: 33%;
  }

  .specifications__popup{
    padding: 10px;
    padding-top: 40px;


    .popup__wrp{
      flex-direction: column;
    }

    .popup__slider{
      margin: 0 auto;
      margin-bottom: 30px;
      width: 80%;
      padding-right: 0;
    }

    .slider__preview-img{
      width: 300px;
      margin: 0 auto;
    }

    .slider__btns{
      width: 390px;
      left: 50%;
      transform: translateX(-50%);
    }


    .icon-angle-left{
      left: 0;
    }

    .icon-angle-right{
      right: 0;
    }
  }




}


@media (max-width: 768px){
  .index-section-3{
    .section-title{
      line-height: 1.5;
    }
  }

  .specifications__nav-tab{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .specifications__goods-item {
    width: 50%;
  }
}


@media (max-width: 576px) {

  .specifications__nav-tab {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .specifications__goods-item {
    width: 100%;
    max-width: 350px;
  }

  .specifications__popup{

    .slider__preview-img{
      display: none;
    }

    .slider__btns{
      display: none;
    }

  }


  // разворачивающийся список
  .specifications__popup{
    width: 100%;

    .popup__wrp{
      margin-bottom: 0;
    }

    .show-btn{
      display: block;
      margin-bottom: 10px;
    }

    .specifications__shop-btns .text{
      display: none;
    }

    .description-wrp2, .specifications__list,
    .specifications__shop-btns .btns{
      display: none;
    }


    .description-wrp2.active,
    .specifications__list.active{
      display: block;
      padding-top: 20px;
    }
    .specifications__shop-btns .btns.active{
      display: flex;
      padding-top: 20px;
    }



  }

}

@media (max-width: 320px){

}

