.index-section-1{
  position: relative;
  background-color: #fff;
}

.particles-js, .particles-animation__wrp{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.index-section-1__wrp{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.index-section-1__logo{
  margin-top: 12.0vh;
  margin-bottom: 11.0vh;
  width: 319px;
  height:29vh;
  text-align: center;

  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); ;
}

.index-section-1__text{
  padding-top: 2vh;
  padding-bottom: 2vh;

  font-family: '18VAGRoundedMNormal', sans-serif;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: $bg-color--blue;

  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%); ;
}

.index-section-1__mouse{
  margin-top: 1.75vh;
  height: 77px;
  width: 45px;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%); ;
}


@media (max-width: 992px){

}

@media (max-width: 768px){
  .index-section-1__logo{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 25vh;
  }

  .index-section-1__text{
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  .index-section-1__logo{
    margin-top: 8vh;
    margin-bottom: 8vh;
    height: 25vh;
  }

  .index-section-1__text{
    font-size: 18px;
    line-height: 24px;
  }

}



@media (max-width: 320px){

}

