.index-section-7{
  position: relative;
/*  padding-top: 5vh;*/
 /* padding-bottom: 5vh;*/
  background-image: url("../img/bg_section_01.jpg");
  background-color: $bg-color-primary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index-section-7__wrp{
  display: flex;
  justify-content: space-between;

  .section-title{
    margin-bottom: 5vh;
  }
}

.index-section-7__col-left{
  width: 66%;

}

.index-section-7__wrp2{
  display: flex;
  margin-bottom: 50px;
}

.index-section-7__logo{
  flex: none;
  width: 150px;
  height: 135px;
  margin-right: 45px;

  align-self: center;
}

.index-section-7__certificates{
  display: flex;
  justify-content: space-between;
  overflow: hidden;


  .certificates__item{
    flex: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    height: 20vw;
    text-align: center;
    max-height: 200px;
  }
}