//CenturyGothic

@font-face {
  font-family: "AvantGardeGothicC";
  font-display: swap;
  src: url("../fonts/AvantGardeGothicC.eot");
  src: url("../fonts/AvantGardeGothicC.eot?#iefix") format("embedded-opentype"),
  url("../fonts/AvantGardeGothicC.woff2") format("woff2"),
  url("../fonts/AvantGardeGothicC.woff") format("woff"),
  url("../fonts/AvantGardeGothicC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvantGardeGothicC";
  font-display: swap;
  src: url("../fonts/AvantGardeGothicC-Demi.eot");
  src: url("../fonts/AvantGardeGothicC-Demi.eot?#iefix") format("embedded-opentype"),
  url("../fonts/AvantGardeGothicC-Demi.woff2") format("woff2"),
  url("../fonts/AvantGardeGothicC-Demi.woff") format("woff"),
  url("../fonts/AvantGardeGothicC-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvantGardeGothicC";
  font-display: swap;
  src: url("../fonts/AvantGardeGothicC-Bold.eot");
  src: url("../fonts/AvantGardeGothicC-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/AvantGardeGothicC-Bold.woff2") format("woff2"),
  url("../fonts/AvantGardeGothicC-Bold.woff") format("woff"),
  url("../fonts/AvantGardeGothicC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvantGardeGothicC";
  font-display: swap;
  src: url("../fonts/AvantGardeGothicC.eot");
  src: url("../fonts/AvantGardeGothicC.eot?#iefix") format("embedded-opentype"),
  url("../fonts/AvantGardeGothicC.woff2") format("woff2"),
  url("../fonts/AvantGardeGothicC.woff") format("woff"),
  url("../fonts/AvantGardeGothicC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'AvantGardeGothicCTT';
  src: url('../fonts/AvantGardeGothicC-Bold.woff2') format('woff2'),
    url('../fonts/AvantGardeGothicC-Bold.woff') format('woff'),
    url('../fonts/AvantGardeGothicCTT_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeGothicCTT';
  src: url('../fonts/AvantGardeGothicC-Normal.woff2') format('woff2'),
  url('../fonts/AvantGardeGothicC-Normal.woff') format('woff'),
  url('../fonts/AvantGardeGothicCTT_Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
  url('../fonts/MyriadPro-Bold.woff') format('woff'),
  url('../fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
  url('../fonts/MyriadPro-Semibold.woff') format('woff'),
  url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: '18VAGRoundedMNormal';
  src: url('../fonts/18VAGRoundedMNormal.eot');
  src: url('../fonts/18VAGRoundedMNormal.woff2') format('woff2'),
  url('../fonts/18VAGRoundedMNormal.woff') format('woff'),
  url('../fonts/18VAGRoundedMNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Regular.eot');
  src: url('../fonts/NeueHaasUnica-Regular.woff2') format('woff2'),
  url('../fonts/NeueHaasUnica-Regular.woff') format('woff'),
  url('../fonts/NeueHaasUnica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*@font-face {
  font-family: 'Besom';
  src: url('../fonts/Besom.woff2') format('woff2'),
  url('../fonts/Besom.woff') format('woff'),
  url('../fonts/Besom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/


@font-face {
  font-family: 'cloud_for_baby';
  src: url('../fonts/cloud_for_baby.eot?73657740');
  src: url('../fonts/cloud_for_baby.eot?73657740#iefix') format('embedded-opentype'),
  url('../fonts/cloud_for_baby.woff2?73657740') format('woff2'),
  url('../fonts/cloud_for_baby.woff?73657740') format('woff'),
  url('../fonts/cloud_for_baby.ttf?73657740') format('truetype'),
  url('../fonts/cloud_for_baby.svg?73657740#cloud_for_baby') format('svg');
  font-weight: normal;
  font-style: normal;
}




.icon-cancel:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */


.icon:before{
  font-family: 'cloud_for_baby', sans-serif;
  font-size: 14px;
  color: inherit;
}

.icon-instagram:before, .icon-facebook:before,
.icon-vkontakte:before, .icon-odnoklassniki:before,
.icon-hashtag:before{
  font-size: 18px;
}


.icon-rocket:before{
  /*font-size: 18px;*/
}







/*//CenturyGothic
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic-Bold.woff') format('woff'),
  url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasUnica';
  src:
          url('../fonts/NeueHaasUnicaW1G-Medium.woff2') format('woff2'),
          url('../fonts/NeueHaasUnicaW1G-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasUnica';
  src:
          url('../fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
          url('../fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Highway Sans Pro';
  src:
          url('../fonts/PFHighwaySansPro-Medium.woff2') format('woff2'),
          url('../fonts/PFHighwaySansPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'gq';
  src: url('../fonts/gq.eot?1058005');
  src: url('../fonts/gq.eot?1058005#iefix') format('embedded-opentype'),
  url('../fonts/gq.woff2?1058005') format('woff2'),
  url('../fonts/gq.woff?1058005') format('woff'),
  url('../fonts/gq.ttf?1058005') format('truetype'),
  url('../fonts/gq.svg?1058005#gq') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-cancel:before { content: '\e800'; } !* '' *!
.icon-btn_with_3dots:before { content: '\e80c'; } !* '' *!
.icon-btn_play:before { content: '\e80d'; } !* '' *!

.icon:before{
  font-family: 'gq';
  font-size: 15px;
}*/


/*


.icon-rocket:before{
  font-size: 18px;
}

.icon-search:before{

}

.icon-speedometer:before{

}

.icon-car:before{
  font-size: 13px;
}

.icon-steering_wheel:before{
  font-size: 17px;
}

.icon-mark_map:before{

}

.icon-palm:before{
  font-size: 18px;
}

.icon-path_right:before,
.icon-path_left:before{
  !*font-size: 10px;*!
}

.icon-eye:before{
  font-size: 10px;
}



*/
