

// fonts
$font-primary: normal 400 16px/1 'Myriad Pro', sans-serif;
$font-color-black: #000000;
$font-color--hover: #24AAA8;
$font-bg-color: #81c7b6;


/*
$font-color-primary: #828282;
$font-color-headers: #333333;
$font-color-main-nav: #959BA4;
$font-color-blue: #2F80ED;
$font-color-blue--hover: #2058a3;
$font-color-icon: #AEAEAE;
*/





//background
$bg-color-primary: #ffffff;
$bg-color--blue: #24aaa8;
$bg-color-footer: #ebebeb;

$bg-color-link: #cecece;
$bg-color-link--hover: #98d5d0;


/*
$bg-color-secondary: #E5E5E5;
: #F2F2F2;
$bg-color-section-background: #F5F5F6;
$bg-color-section-background--hover: #D8D8D9;
$bg-color-line: #E0E0E0;*/
/*$bg-color-primary: #ffffff;
$bg-color-black: #1A1B1C;
$bg-color-grey: #F1F3F4;
$bg-color-grey-link: #D8D8D8;*/


